{% block adv %}
<!-- тело -->
  <main>
  
      <div class="row featurette perf_0">
      <div class="col-md-7 tex">
        <h1 class="featurette-heading fw-normal lh-1">Конкурентные преимущества DNS ментор</h1><br><br>
		<h2 class="featurette-heading fw-normal lh-2"> Индивидуальный план</h2>
        <p align="justify" class="lead">На нашем сервисе вы сами определяете свои цели и интересы в любой
предложенной сфере!<br>
		На основе этого ментор может предложить путь вашего развития в выбранной компетенции.<br>
		Вы будете совершенствоваться в удобном для вас формате, темпе и стиле, а ментор будет следить за вашим прогрессом и давать вам обратную связь.<br> Так вы сможете
эффективно развивать свои знания и навыки в выбранной области.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  src="/static/img/ind_plan.jpeg">
    </div>
  
  <div class="row featurette perf_0">
      <div class="col-md-7 order-md-2">
        <br><br><br>
        <h2 class="featurette-heading fw-normal lh-1">Гибкость и доступность</h2>
        <p class="lead">    На нашем сервисе вы можете сами договариваться с ментором о времени и способе проведения встречи в зависимости от доступности, то есть можно выбрать как проведение онлайн-встреч, так и очных для лучшего взаимодействия с ментором.<br>
		Если же ментор предоставляет платные услуги, то у вас будет возможность договориться с ним об удобном для вас способе оплаты. Мы совершенствуем наш сервис, чтобы вам было удобнее им пользоваться!
</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  src="/static/img/on_off.jpg">
      </div>
    </div>
	
	<div class="col-md-7 tex">
		<h2 class="featurette-heading fw-normal lh-2">Ориентация на Дальневосточный регион России</h2>
        <p align="justify" class="lead">Наш сервис направлен в основном на жителей Дальнего Востока, чтобы они смогли получить как можно больше от менторов.<br>
		В то же время, конечно, менторы с Дальнего Востока смогут поделиться своими знаниями и накопленным опытом. Мы знаем особенности и потребности этого региона и подбираем менторов, которые имеют опыт работы и жизни на Дальнем Востоке или связаны с ним. Вы сможете общаться с менторами в удобное для вас время, учитывая разницу в часовых поясах, и получать актуальную информацию о возможностях развития в вашем регионе.<br>
		При этом жители и менторы из других регионов тоже могут воспользоваться нашим сервисом, мы не против гостям из других частей России!</p>
      </div>
	<div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  src="/static/img/DV_region.jpeg">
    </div>
	</div>
	
	
</main>  
{% endblock %}