{% block faq %}
<!-- тело -->
  <main>
<div class="faq-container">
  <h1>Xасто задаваемые вопросы</h1>
  <div class="accordion">
    <div class="accordion-item">
      <input type="checkbox" id="question-1">
      <label for="question-1">Как мне подать заявку на общение с ментором?</label>
      <div class="answer">
        <p>Для подачи заявки на общение с ментором воспользуйтесь каталогом менторов, где можно найти соответствующего ментора и отправить запрос на общение.</p>
      </div>
    </div>
    <div class="accordion-item">
      <input type="checkbox" id="question-2">
      <label for="question-2">Я подал заявку на общение. Где мне взять контакты ментора после подачи заявки?</label>
      <div class="answer">
        <p>После того, как вы подали заявку на общение с ментором, дождитесь, пока он рассмотрит ваш запрос и примет решение о принятии/непринятии его.
		После того, как ментор рассмотрит вашу заявку и, либо примет ее, либо отклонит, вам в Telegram придет соответствующее уведомление. Если ментор принял вашу заявку, то вместе с сообщением придут и его контакты.</p>
      </div>
    </div>
    <div class="accordion-item">
      <input type="checkbox" id="question-3">
      <label for="question-3">Через сколько дней я могу приступать к менторству после подачи анкеты?</label>
      <div class="answer">
        <p>Прежде чем вы вступите в наши ряды менторов, ваша анкета должна пройти модерацию. Обычно, это занимает не более суток. Если ответ на вашу заявку не приходит больше суток, обратитесь пожалуйста в нашу службу поддержки:<br>
		dns-mentor-info_help@dns.ru<br>
		+1(234)567-89-10 (Звонок по России бесплатный)</p>
      </div>
    </div>
  </div>
  <img src="/static/img/OIG.jpeg">
</div>
</main>
{% endblock %}