{% extends "base.html" %}
{% block body %}

{% block adv %}
{% include "advantages.html" %}
{% endblock %}

{% block card %}
{% include "card_1.html" %}
{% endblock %}

{% block faq %}
{% include "FAQ.html" %}
{% endblock %}

{% block faq %}
{% include "FAQ.html" %}
{% endblock %}

{% block main %}
{% include "main.html" %}
{% endblock %}

{% block menti %}
{% include "menti_request.html" %}
{% endblock %}

{% block mentor %}
{% include "mentor_anketa.html" %}
{% endblock %}

{% block about_us %}
{% include "o_nas.html" %}
{% endblock %}

{% block team %}
{% include "team.html" %}
{% endblock %}

{% block term %}
{% include "terms.html" %}
{% endblock %}

{% endblock %}
