
{% block main %}
<!-- тело -->
  <main>

      <div class="row featurette perf_0">
      <div class="col-md-7 tex">
        <h1 class="featurette-heading fw-normal lh-1">Менторы с Дальнего Востока готовы помочь тебе!</h1><br>
        <p align="justify" class="lead">Не откладывай свое совершенствование на потом - начни сейчас и стань лучшей версией себя!</p>
          <a class="but_met" type="submit" href="#scroll">Каталог менторов</a>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  src="/static/img/people.jpg">
    </div>
	<div class="perf_1" >
	  <form class="search" action="/" method="POST" id="scroll">
    <input class="search1" type="search" name="query" placeholder="Найди своего ментора...">
  <input class="button" type="submit" value="Найти" size="25px" href="#scroll1">
 </form>

  </div>

<div class="orange">
    <div  class="grid-spec">
      <div class="grid-spec1">
       {% for el in block1 %}
        <form action="/" method="POST">

        <!-- скрытый параметр -->
          <input type="hidden" name="{{el}}" value="{{el}}" class="badge text-bg-dark rounded-pill">
          <input type="submit" class="btn btn-dark skr" value="{{el}}" >

        <br><br></form>
    {% endfor %}
      </div>
      <div class="grid-spec2">
      {% for el in block2 %}
        <form action="/" method="POST">

        <!-- скрытый параметр -->
          <input type="hidden" name="{{el}}" value="{{el}}" class="badge text-bg-dark rounded-pill">
          <input type="submit" class="btn btn-dark skr" value="{{el}}" >

        <br><br></form>
        {% endfor %}
      </div>
      <div class="grid-spec3">
         {% for el in block3 %}
        <form action="/" method="POST">

        <!-- скрытый параметр -->
          <input type="hidden" name="{{el}}" value="{{el}}" class="badge text-bg-dark rounded-pill">
          <input type="submit" class="btn btn-dark skr" value="{{el}}" >

        <br><br></form>
        {% endfor %}
      </div>

      <div class="grid-spec4">
        {% for el in block4 %}
        <form action="/" method="POST">

        <!-- скрытый параметр -->
          <input type="hidden" name="{{el}}" value="{{el}}" class="badge text-bg-dark rounded-pill">
          <input type="submit" class="skr btn btn-dark" value="{{el}}" >

        <br><br></form>
        {% endfor %}
      </div>

      <div class="grid-spec5">
        {% for el in block5 %}
        <form action="/" method="POST">

        <!-- скрытый параметр -->
          <input type="hidden" name="{{el}}" value="{{el}}" class="badge text-bg-dark rounded-pill">
          <input type="submit" class="btn btn-dark skr" value="{{el}}" >

        <br><br></form>
        {% endfor %}
      </div>
    </div>
 <div class="container">

    <div class="row">
      {% for el in mentor %}
      <div class="col-md-4">
        <div class="card mb-4">
          <img class="card-img"  src="{{ url_for('static', filename='img/photos/' + el.photo) }}"  style="width:100%">
          <div class="card-body">
            <h4 class="card-title">{{ el.name }}</h4>
              {%for el in el.company_title.replace(", ", ",").split(",")%}
            <p class="card-text">{{ el}}</p>
              {% endfor %}

             <a class="p-2 text-dark" href="card/{{el.id}} " style="padding: 10px 20px;">подробнее</a>
            <form action="/menti_request" method="post" id="form-{{ el.telegram }}">
              <input type="hidden" name="telegram" value="{{ el.telegram }}">
              <button type="submit" class="button-card">Оставить заявку</button>
            </form>
          </div>
        </div>
      </div>

      {% endfor %}
 </div>
     </div>
</div>
      </div>
</div>
      </div>
</main>

{% endblock %}
