{% extends "base.html" %}
{% block about_us %}
  <main>
  
      <div class="row featurette perf_0">
      <div class="col-md-7 tex">
        <h1 class="featurette-heading fw-normal lh-1">Проект DNS ментор</h1><br>
		<h2 class="featurette-heading fw-normal lh-2"> Для кого?</h2>
        <p align="justify" class="lead">
          Наш проект создан для тех людей, которым требуется наставник, а также для тех, которым хотелось бы разделить свои знания и накопленный опыт со множеством людей.<br>
Мы совершенно открыты к новым лицам. На нашем сайте люди могут выбрать себе ментора, подходящего под его требования. <br>При этом каждый наставник будет проходить модерацию, чтобы удостовериться в его компетенциях и безопасности, так как мы хотим быть уверены, что наши пользователи попадают в хорошие руки.
        </p><br>
      
	  <h2 class="featurette-heading fw-normal lh-2">Зачем?</h2>
	  <p align="justify" class="lead">
		/Нет ничего лучше личного общения с профессионалом, чтобы разобраться в сложном вопросе.<br> Поэтому мы предлагаем тем, кто ищет консультацию, связаться с экспертом и поговорить с ним наедине.
	  </p><br>
	  
        <h2 class="featurette-heading fw-normal lh-2">Мотивация менторов</h2>
	  <p align="justify" class="lead">
      При этом мы предоставляем самим менторам площадку для поиска менти. На нашем сайте менторы смогут разместить свои анкеты, в которых они расскажут о себе, какие преимущества они имеют перед остальными.<br>
	  Таким образом, они могут представить себя с лучшей стороны для того, чтобы к ним на встречи записывалось как можно больше людей.
	  </p><br>
	    <p align="justify" class="lead">
      Мы уверены, что наш проект поможет вам найти ответы на все ваши вопросы и решить любые проблемы, с которыми вы столкнулись. Если же вы ментор, то мы поможем вам найти тех менти, с которыми они будут готовы поделиться своим опытом и знаниями.
  </p><br>
      <h2 class="featurette-heading fw-normal lh-2">Наша цель - создать дружное и поддерживающее комьюнити людей, которые готовы делиться своими знаниями и опытом. Не упустите свой шанс поучаствовать в развитие it-сообщества на Дальнем Востоке!</b>
  </h2>
	  </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img"  src="/static/img/Project_DNS.jpeg">
    </div>
	</div>
  </main>
{% endblock %}