{% extends "base.html" %}
{% block team %}

<!-- тело -->
  <main>
  <div class="row featurette perf_0">
	<div class="col-md-7 tex">
	        <h1 class="featurette-heading fw-normal lh-1">Наша команда</h1><br><br>
        <p align="justify" class="lead">Наша команда – сплоченный коллектив, деятельность которого направлена на то, чтобы создать мэтчинг между ментором и менти.<br>
		Мы стараемся направить людей, ищущих наставников, в правильное русло, предложить им те варианты, которые им действительно нужны.</p>
      </div>
	<div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  src="/static/img/Team.jpeg">
    </div>
	</div>
</main>

{% endblock %}